flows (1).json
[
    {
        "id": "bb6471ad1d8732cc",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9c69254a23a0a19a",
        "type": "mqtt in",
        "z": "bb6471ad1d8732cc",
        "name": "",
        "topic": "MEDIBOX_200664P_TEMP",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a650cfcfaaba4cdb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 420,
        "wires": [
            [
                "41e2b56e7d733648",
                "e797e199de9a3d47"
            ]
        ]
    },
    {
        "id": "41e2b56e7d733648",
        "type": "ui_gauge",
        "z": "bb6471ad1d8732cc",
        "name": "",
        "group": "a13a83cd985a6298",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "Celcius",
        "format": "{{payload}}",
        "min": "20",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 530,
        "y": 400,
        "wires": []
    },
    {
        "id": "e797e199de9a3d47",
        "type": "ui_chart",
        "z": "bb6471ad1d8732cc",
        "name": "",
        "group": "a13a83cd985a6298",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperature Variation",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 600,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "f0a0d92435f9938c",
        "type": "ui_switch",
        "z": "bb6471ad1d8732cc",
        "name": "Main Switch",
        "label": "switch",
        "tooltip": "",
        "group": "f19c2015de119c8a",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 470,
        "y": 20,
        "wires": [
            [
                "03a191a4f305b258"
            ]
        ]
    },
    {
        "id": "03a191a4f305b258",
        "type": "mqtt out",
        "z": "bb6471ad1d8732cc",
        "name": "",
        "topic": "MEDIBOX_200664P_ON_OFF",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a650cfcfaaba4cdb",
        "x": 710,
        "y": 20,
        "wires": []
    },
    {
        "id": "09aa7edec9ee5252",
        "type": "ui_switch",
        "z": "bb6471ad1d8732cc",
        "name": "Schedule Switch",
        "label": "switch",
        "tooltip": "",
        "group": "e1201023672aae14",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 470,
        "y": 140,
        "wires": [
            [
                "3a688f855dc63f34"
            ]
        ]
    },
    {
        "id": "3a688f855dc63f34",
        "type": "change",
        "z": "bb6471ad1d8732cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "isScheduled",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 140,
        "wires": [
            [
                "d0516a6ad29815e9"
            ]
        ]
    },
    {
        "id": "7f1d599ddf1e0adf",
        "type": "ui_date_picker",
        "z": "bb6471ad1d8732cc",
        "name": "",
        "label": "Set Date",
        "group": "e1201023672aae14",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 80,
        "y": 240,
        "wires": [
            [
                "526fee47be326383"
            ]
        ]
    },
    {
        "id": "102a90ccec27abff",
        "type": "ui_text_input",
        "z": "bb6471ad1d8732cc",
        "name": "",
        "label": "Set time",
        "tooltip": "",
        "group": "e1201023672aae14",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "time",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 80,
        "y": 300,
        "wires": [
            [
                "52492959bbd2a1f4"
            ]
        ]
    },
    {
        "id": "526fee47be326383",
        "type": "change",
        "z": "bb6471ad1d8732cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ScheduledDate",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 220,
        "wires": [
            [
                "d0516a6ad29815e9"
            ]
        ]
    },
    {
        "id": "52492959bbd2a1f4",
        "type": "change",
        "z": "bb6471ad1d8732cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ScheduledTime",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 300,
        "wires": [
            [
                "d0516a6ad29815e9"
            ]
        ]
    },
    {
        "id": "d0516a6ad29815e9",
        "type": "function",
        "z": "bb6471ad1d8732cc",
        "name": "function 1",
        "func": "\nlet ScheduledDate = global.get(\"ScheduledDate\");\nlet ScheduledTime = global.get(\"ScheduledTime\");\nlet Schedueled = global.get(\"isScheduled\");\n\nif (Schedueled && ScheduledDate && ScheduledTime)\n{\n    let schedule = ScheduledDate + ScheduledTime; //can add becasue in ms\n\n    if(Date.now()>schedule)\n    {\n        return {\n            payload: \"Date in past\",\n        }\n    }\n\n    else\n    {\n        return {\n            payload: schedule,\n        }\n    }\n}\n\nelse if (Schedueled === false)\n{\n    return {\n        payload: \"Not Scheduled\",\n    }\n}\n\nelse{\n    return {\n        payload: null,\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 220,
        "wires": [
            [
                "9aa1d294761f27bd"
            ]
        ]
    },
    {
        "id": "9aa1d294761f27bd",
        "type": "switch",
        "z": "bb6471ad1d8732cc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Not Scheduled",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Date in past",
                "vt": "str"
            },
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 810,
        "y": 220,
        "wires": [
            [
                "e8d0c382f64128eb"
            ],
            [
                "ac9802e6d61f6925"
            ],
            [
                "7d14527a262ecb8d"
            ],
            [
                "5ef51ecfa47a87a7"
            ]
        ]
    },
    {
        "id": "e8d0c382f64128eb",
        "type": "function",
        "z": "bb6471ad1d8732cc",
        "name": "function 2",
        "func": "\nreturn {\n    payload: \"NOT\",\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 160,
        "wires": [
            [
                "8a8fa13bd56604ef"
            ]
        ]
    },
    {
        "id": "7d14527a262ecb8d",
        "type": "function",
        "z": "bb6471ad1d8732cc",
        "name": "function 3",
        "func": "return {\n    payload: Math.round(msg.payload/1000),\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 240,
        "wires": [
            [
                "8a8fa13bd56604ef"
            ]
        ]
    },
    {
        "id": "ac9802e6d61f6925",
        "type": "function",
        "z": "bb6471ad1d8732cc",
        "name": "function 4",
        "func": "return {\n    payload: \"Date set to past\",\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 360,
        "wires": [
            [
                "49dd4873cbbc413e"
            ]
        ]
    },
    {
        "id": "5ef51ecfa47a87a7",
        "type": "function",
        "z": "bb6471ad1d8732cc",
        "name": "function 5",
        "func": "return {\n    payload: \"Enter Valid Date and Time\",\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 440,
        "wires": [
            [
                "49dd4873cbbc413e"
            ]
        ]
    },
    {
        "id": "49dd4873cbbc413e",
        "type": "ui_toast",
        "z": "bb6471ad1d8732cc",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1230,
        "y": 360,
        "wires": []
    },
    {
        "id": "8a8fa13bd56604ef",
        "type": "mqtt out",
        "z": "bb6471ad1d8732cc",
        "name": "",
        "topic": "MEDIBOX_200664P_SCHEDULE",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a650cfcfaaba4cdb",
        "x": 1360,
        "y": 180,
        "wires": []
    },
    {
        "id": "35f4b9637db00a4a",
        "type": "mqtt in",
        "z": "bb6471ad1d8732cc",
        "name": "",
        "topic": "MEDIBOX_200664P_ON_OFF_ESP",
        "qos": "2",
        "datatype": "auto",
        "broker": "a650cfcfaaba4cdb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 20,
        "wires": [
            [
                "f0a0d92435f9938c"
            ]
        ]
    },
    {
        "id": "205ba5f89818dc7c",
        "type": "mqtt in",
        "z": "bb6471ad1d8732cc",
        "name": "",
        "topic": "MEDIBOX_200664P_SCHEDULE_ESP",
        "qos": "2",
        "datatype": "auto",
        "broker": "a650cfcfaaba4cdb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 80,
        "wires": [
            [
                "410c3dfbc4cc28e2"
            ]
        ]
    },
    {
        "id": "410c3dfbc4cc28e2",
        "type": "function",
        "z": "bb6471ad1d8732cc",
        "name": "function 6",
        "func": "return {\n    payload: (msg.payload === 1)\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 140,
        "wires": [
            [
                "09aa7edec9ee5252"
            ]
        ]
    },
    {
        "id": "4f64c1fa534b8a95",
        "type": "mqtt in",
        "z": "bb6471ad1d8732cc",
        "name": "",
        "topic": "MEDIBOX_200664P_lux",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a650cfcfaaba4cdb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 560,
        "wires": [
            [
                "557db6970b4410a5",
                "ff96dc2487b5c468",
                "19a2286a9f844278"
            ]
        ]
    },
    {
        "id": "557db6970b4410a5",
        "type": "debug",
        "z": "bb6471ad1d8732cc",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 560,
        "wires": []
    },
    {
        "id": "ff96dc2487b5c468",
        "type": "ui_gauge",
        "z": "bb6471ad1d8732cc",
        "name": "",
        "group": "d6e3fd389ad6e9b0",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Intensity",
        "label": "units",
        "format": "{{payload}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 540,
        "y": 640,
        "wires": []
    },
    {
        "id": "19a2286a9f844278",
        "type": "ui_chart",
        "z": "bb6471ad1d8732cc",
        "name": "",
        "group": "d6e3fd389ad6e9b0",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 530,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "c68469f084f6ba9d",
        "type": "ui_slider",
        "z": "bb6471ad1d8732cc",
        "name": "",
        "label": "Controlling Factor",
        "tooltip": "",
        "group": "1c571171ff86f8da",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1",
        "step": "0.01",
        "className": "",
        "x": 390,
        "y": 820,
        "wires": [
            [
                "f9ea4e4eee8ff9aa"
            ]
        ]
    },
    {
        "id": "b2eeca190e8a817f",
        "type": "ui_slider",
        "z": "bb6471ad1d8732cc",
        "name": "",
        "label": "Minimum Angle",
        "tooltip": "",
        "group": "1c571171ff86f8da",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "120",
        "step": 1,
        "className": "",
        "x": 380,
        "y": 880,
        "wires": [
            [
                "bae79f5f4c978c1a"
            ]
        ]
    },
    {
        "id": "f9ea4e4eee8ff9aa",
        "type": "mqtt out",
        "z": "bb6471ad1d8732cc",
        "name": "",
        "topic": "MEDIBOX_200664P_CF",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a650cfcfaaba4cdb",
        "x": 650,
        "y": 820,
        "wires": []
    },
    {
        "id": "bae79f5f4c978c1a",
        "type": "mqtt out",
        "z": "bb6471ad1d8732cc",
        "name": "",
        "topic": "MEDIBOX_200664P_MA",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a650cfcfaaba4cdb",
        "x": 650,
        "y": 880,
        "wires": []
    },
    {
        "id": "a650cfcfaaba4cdb",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a13a83cd985a6298",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "71eb2a11ede5482f",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f19c2015de119c8a",
        "type": "ui_group",
        "name": "Main Switch",
        "tab": "71eb2a11ede5482f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e1201023672aae14",
        "type": "ui_group",
        "name": "Schedule",
        "tab": "71eb2a11ede5482f",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d6e3fd389ad6e9b0",
        "type": "ui_group",
        "name": "Light Intensity",
        "tab": "71eb2a11ede5482f",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1c571171ff86f8da",
        "type": "ui_group",
        "name": "Shade Control",
        "tab": "71eb2a11ede5482f",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "71eb2a11ede5482f",
        "type": "ui_tab",
        "name": "MEDIBOX",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]